---

import Footer from "../components/Footer.astro"
import NavigationBar from "../components/NavigationBar.astro"
import "../styles/global.css"







---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content ="Tugrul Arslan website"/>
		<title>Tugrul Arslan | Data Engineer</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
	
    
<script is:inline>
        const DARK_THEME_CLASS ="dark";
        const COLOUR_MODE = "COLOUR_MODE";
        const LIGHT_THEME = "LIGHT";
        const DARK_THEME = "DARK";

        const rootELEMENT= document.documentElement;

        const getInitialColourMode = ()=>{
        const previouslySavedColourMode = localStorage.getItem(COLOUR_MODE);

        if (previouslySavedColourMode){
            return previouslySavedColourMode;
        };

        if(matchMedia("(prefers-color-schema:dark").matches){
            return DARK_THEME;
        };

        return LIGHT_THEME;
    };
     const initialColourMode = getInitialColourMode();

     const setInitialColourMode = (mode)=>{
        // set required class on the root element
        if(mode==LIGHT_THEME){
            rootELEMENT.classList.remove(DARK_THEME_CLASS)
        } else {
            rootELEMENT.classList.add(DARK_THEME_CLASS)
        }
    };

     setInitialColourMode(initialColourMode);
    </script>     
    
    </head>
	<body>
        <main>
            <NavigationBar/>
            
            <!--Content of the page that will be render with slot(replace the childitem) -->
            <slot/>
        </main>
        <Footer/>
	</body>
</html>



<style>
.cards-container {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling for many items */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the container */
}
</style>